<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>하나SK</key>
	<string>), , , ,/,/,/</string>
	<key>[현대카드]</key>
	<string>
,
,

,
,
</string>
	<key>KB국민</key>
	<string>
,
,
,
,
,
</string>
	<key>[현대카드M]</key>
	<string>
,
,
,
,
,
</string>
	<key>SC제일BC</key>
	<string>),.,.,.,.,.</string>
</dict>
</plist>
